body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}


header{
	background-image: url(css/images/sky.jpg);
	height: 100vh
	background-size: cover;
	background-position: center; 
}
body {
  background-image: url(css/images/sky.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

ul{
	list-style-type: none;
	float: right;
	margin-top: 25px;
	margin-right: 25px;
}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: white;
	color: black;
}
ul li.active a{
	background-color: white;
	color: black;
}

.logo img{
	float: left;
	width: 250px;
	height: auto;
	margin-top: 25px;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.P1title{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.P1title h1{
	color: white;
	font-size: 70px

}

.mbs{
	position: absolute;
	justify-content: center;
	margin: auto;
	text-align: center;
}

p{
	font-size: 20px;
	color: white;
	font-style: bold;
	justify-content: center; 
}
/*
h2{
	justify-content: center;
	color: white;
	font-size: 50px;
	text-align: right;
*/
/*
}
#container {
  display: grid;
  width: 200px;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space evenly;
  padding: 10px;
}
*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}