body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic
}


header{
	background-image: url(css/images/sky.jpg);
	height: 100vh
	background-size: cover;
	background-position: center; 
}
body {
  background-image: url(css/images/sky.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

ul{
	list-style-type: none;
	float: right;
	margin-top: 25px;
	margin-right: 25px;
}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: white;
	color: black;
}
ul li.active a{
	background-color: white;
	color: black;
}

.logo img{
	float: left;
	width: 250px;
	height: auto;
	margin-top: 25px;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.P1title{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.P1title h1{
	color: white;
	font-size: 70px

}

.mbs{
	position: absolute;
	justify-content: center;
}

p{
	font-size: 20px;
	color: white;
	font-style: bold;
	justify-content: center;
	align-self: center;
}
/*
h2{
	justify-content: center;
	color: white;
	font-size: 50px;
	text-align: right;
*/

}

}
